#root {
	margin: 0 auto;
	padding: 2rem;
	max-width: 1280px;
	text-align: center;
}
#canvas-container{
	width: 1000px;
	height: 700px;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e)
}
